/* Specify styles for the product details */
.product-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.product-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.product-details p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.product-details .price {
  font-size: 18px;
  font-weight: bold;
  color: #AA336A;
  margin-bottom: 10px;
  display: block;
}

.product-details .buy-button {
  width: 100%;
}

.product-details .buy-button button {
  display: block;
  width: 100%;
  padding: 8px 0;
  background-color: #AA336A; /* Changed the background color */
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.product-details .buy-button button:hover {
  background-color: #880E4F;
}
