@charset "ISO-8859-1";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  background-image: url("resources/user/bb.png");
  background-size: cover;
  background-position: center;
  background: url("../resources/user/bb.png") center/cover, #f6f3f3;
}

.container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title {
  font-size: 28px;
  font-weight: 600;
  position: relative;
  margin-bottom: 20px;
  color: #333;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background-color: #0d0d0d;
}

.content .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-details .input-box {
  margin-bottom: 15px;
  width: calc(50% - 10px);
}

.user-details .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  color: #555;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #090909;
}

.gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
  color: #333;
}

.category {
  display: flex;
  width: 80%;
  margin-bottom: 20px;
}

.category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

.category label:nth-child(2) {
  margin-left: 20px;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
  background: #9b59b6;
  border-color: #d9d9d9;
}

input[type="radio"] {
  display: none;
}

.button {
  height: 45px;
  margin: 35px 0;
}

.button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #0a0a0a;
}

.button input:hover {
  background: #bfaa85;
}

@media (max-width: 584px) {
  .user-details .input-box {
    width: 100%;
  }

  .category {
    width: 100%;
  }
}

@media (max-width: 459px) {
  .container .title::before {
    width: 20px;
  }

  .container .title {
    font-size: 24px;
  }
}
